/* Coming Soon Section */
.csshandler{
    display: grid;
        grid-template-areas:
                 'nav nav nav nav nav'
            'soon soon soon contact contact';
            overflow: hidden;
            overflow-y: hidden;

}
.coming-soon-container {
    grid-area:soon;
    display: flex;
    flex-direction: column;
}

.coming-soon-section {
    height: 84vh;
    
}
.navbar{
        grid-area: nav;
        width: 100vw;
        
        height: 16vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
            border-bottom: 1px black solid;
        
}
.gridbg {
    background-image: linear-gradient(#ccccdc 1px, transparent 1px),
        linear-gradient(to right, #ccccdc 1px, transparent 1px);
    background-size: 100px 100px;
}

.box {
    display: grid;
    background: radial-gradient(transparent, #ffffff 85%);
    height: 84vh;
    
}


.company{
    font-size: 3em;

   
    font-weight: 900;
    color: #333343;

    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial,
    sans-serif;
}
.coming {
    font-size: 3em;
    font-weight: 900;
    color: #333343;
    margin-top: 20vh;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial,
        sans-serif;
}
.desc{

    font-size: 2em;
    font-weight: 600;
    color: #333343;
    margin: 10%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial,
        sans-serif;
        
}

/* Contact Section */
.contact-section {
    padding: 10px;
    background-color: #fdfcfa;
    /* Set a background color for the contact section */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    padding: 1vw;
    grid-area: contact;
}

.content1{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    div{
        width: 400px;
    }
        

}
.map {
    margin: 10px;
    width: 50em;
    border: none;
}
.footer{
    height: 5%;
    background-color: #333343;
}
 @media screen and (min-width:769px) and (max-width: 1300px) {
.company {
        font-size: 2em;

    }
}
  @media screen and (max-width: 768px) {
    .navbar{
        width:100vw;
        display: flex;
        flex-direction: column;
  
    
        height: fit-content;

      
    }
         .button {
             background-color: white;
             border:2px gray solid;
             color:#333343;
             margin:15px;
         }
    .desc{
    }
        .coming {
                margin-top: 0vh;
                display: flex;
                justify-content: center;
                        align-items: center;
 
        }
    .csshandler {
            display: flex;
            flex-direction: column;
    }

      .coming-soon-container {
        display: flex;

          font-size: 12px;
          height: 56vh;
      }
      .contact-section{
        width: 100vw;
      }
      .content1{
        flex-direction: column;
        margin: 10%;
      }
      .map{
        margin: 10px;
        width: 30em;
      }
  }



  .waviy {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      animation: waviy 1s infinite;
      animation-delay: 1s;
    
  }
 
        .sec {
            animation: waviy 1.01s infinite;
        }

  @keyframes waviy {

      0%,
      40%,
      100% {
          transform: translateY(0)
      }

      20% {
          transform: translateY(-5px)
      }
  }