/* ContactForm.css */
.container {
    font-family: Arial, sans-serif;
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

form div {
    margin-bottom: 20px;
    display: flex;
    flex-direction:column;
}

label {
    align-self:flex-start;
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.slide-in {
    animation: slideInAnimation 0.4s ease-in-out;
}

@keyframes slideInAnimation {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}
.notification {
    padding: 10px 20px;
    background-color: #4caf50;
    width: 90%;
    color: #fff;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

  @media screen and (max-width: 768px) {
    h1{
        font-size: 50px;
    }
}
 @media screen and (min-width: 768px) and (max-width: 1170px) {
     h1 {
         font-size: 50px;
     }
 }